/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap');

/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Base Styles */
html {
  font-size: 62.5%;
  --baseFont: 'Poppins', sans-serif;
}
body {
  font-family: var(--baseFont);
}

/* Layout */
body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.splashBackground {
  width: 100%;
  height: 100vh;
  background-image: url(../img/spencer-davis-medium-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  width: 95%;
  max-width: 1200px;
  height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.container img,
.container .attribution {
  align-self: flex-end;
}
/* Typgoraphy */
.splashBackground {
  color: #fff;
}
h1 {
  font-size: 12.8rem;
  font-weight: 500;
  letter-spacing: -0.15em;
}
.container p {
  font-size: 1.8rem;
  font-weight: 600;
}
.container .attribution {
  font-size: 1.4rem;
  font-weight: 600;
}

.container .attribution a {
  color: #fff;
  text-decoration: none;
}

/* Image/Vector Sizing */
.container img {
  min-width: 48px;
}
/* Map Styling */
#map {
  width: 90vw;
  height: 80vh;
  background: grey;
}

/* marker styling */
/* soak */
.soak {
  color: #3030bd;
  fill: #3030bd;
}
.private {
  color: #7272ff;
  fill: #7272ff;
}
