/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Layout */
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* Map Styling */
#map {
  width: 90vw;
  height: 80vh;
  background: grey;
}

/* marker styling */
/* soak */
.soak {
  color: #3030bd;
  fill: #3030bd;
}
